.tags {
  display: inline-block;
}

.tag {
  display: inline-block;
  border: 1px solid black;
  position: relative;
  padding-right: 15px;
  height: 20px;
  line-height: 20px;
  padding: 0 20px 0 5px;
  margin: 0 10px 0 0;
}

.tag .close {
  /* text-indent: 100%; */
  /* white-space: nowrap; */
  /* overflow: hidden; */
  display: inline-block;
  position: absolute;
  right: 5px;
  top: 0;
  cursor: pointer;
  width: 10px;
  height: 20px;
  line-height: 20px;
}

.add-field {
  margin-left: 10px;
}
